body {
	margin: 0 auto;
	padding: 0 auto;
}


#menu {
	display: inline-block;
	margin-left: 32%;
}

p {
	display: inline-block;
	margin-right: 4px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	opacity: 0.7;
}

img {
	width: 60%;
}

#google {
	margin-top: 15%;
	margin-left: 30%;
	margin-bottom: 2%;
}

.btn-right-fleche {
	opacity: 0.7;
}

.search_data {
	margin-left: 27%;
	width: 30%;
}